body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #1F2937;
    margin: 0;
}

.main {
    background-color: #1F2937;
    color: #E5E7EB;
}

.header{
    
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.hero {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.info {

}

.quote {
    background-color: #E5E7EB;
}

.signup {

}

.footer {
    background-color: #1F2937;
}
