body {
    font-family: roboto, sans-serif;
    font-size: 18px;
    color: #1F2937;
    margin: 0;
}

body > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top {
    background-color: #1F2937;
    color: #E5E7EB;
}

.header{
    
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.hero {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 32px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 8px;
}

.info {

}

.info-header{
    font-size: 36px;
    font-weight: 900;
}

.quote {
    background-color: #E5E7EB;
    font-weight: bold;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.signup {

}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
}
